{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'admin_navbar.html' %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function(){
      $("#datepicker").datepicker();
    });
  </script>
  <div class="container" style="margin-top:100px">
     <div class="row" style="float:left">
      <!-- Card -->
      <div class="card" >
        <!-- Card body -->
        <div class="card-body">
          <form action="/adm_predict/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <img src='/static/images/date.png' style="width:30px;height:30px"></img>
              <label for="datepicker">Enter Date: </label><br>
              <input type="text" class="form-control" id="datepicker" name="date" placeholder="mm/dd/yyyy" required>
            </div>
            <br>
            <div class="form-group">
              <img src='/static/images/building.png' style="width:30px;height:30px"></img>
              <label for="sel1">Select Building:</label>
              <select class="form-control" id="buildingid" name="building" style="width:200px;">
                <option value="0">Piersul</option>
                <option value="1">TECA-IMP</option>
                <option value="2">Terminal 1</option>
                <option value="3">Terminal 2</option>
              </select>
            </div>
            <br>
            <div class="form-group" >
              <img src='/static/images/floor.png' style="width:30px;height:30px"></img>
              <label for="sel1">Select Level:</label>
              <select class="form-control" id="floorid" name="floor" style="width:200px;">
                <option value="0">Level 1</option>
                <option value="1">Level 2</option>
                <option value="2">Level 3</option>
                <option value="3">Level 4</option>
              </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="fig_container" style="float:right;margin-left:100px;margin-top:-38px;">
        {{ div_figure|safe }}
      </div>
    </div>
  </div>

{% endblock %}
