{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'admin_navbar.html' %}
<style>
    .container{
      padding:0;
      margin:0;
    }

    .background{
      background-image: url('https://images.unsplash.com/photo-1483190914030-b4dc3e0f558c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&dpr=2&h=750&w=1260');
      background-size: cover;
      background-repeat:no-repeat;
      background-position:center;
      position:absolute;
      width:100%;
      height:100%;
      overflow: hidden;
    }

    .content{
      position: absolute;
      height: 200px;
      width: 400px;
      margin: -100px 0 0 -200px;
      top: 50%;
      left: 50%;
    }

    h1{
      color: white;
    }
</style>
    <div class="container">
      <div class="background">
        <div class="content">
          <h1>Welcome Admin!</h1>
          <hr>
          <a class="btn btn-large btn-info" href="{% url 'adm_staff' %}">Get staff suggestions</a>
          <br>
          <br>
          <a class="btn btn-large btn-info" href="{% url 'adm_crowd' %}" onclick="{% url 'adm_crowd' %}" >View crowd density</a>
        </div>
      </div>
    </div>

{% endblock %}
