{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
.container{
  padding:0;
  margin:0;
}

.background{
  background-image: url('https://images.unsplash.com/photo-1564367900609-74d72d756ea7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&dpr=2&h=750&w=1260');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
  width:100%;
  height:100%;
  overflow: hidden;
}

.login {
  margin:0 auto;
  text-align: center;
  padding-top: 200px;
}

.email{
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
  border: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  padding: 0 10px;
}

.password{
  width: 300px;
  height: 50px;
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  padding: 0 10px;
}

.button{
  width: 300px;
  height: 50px;
  background-color: blue;
  border: none;
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-radius: 15px;
}

@media (max-width: 900px){
  .login {
    padding: 0;
    padding-top:40%;
  }

  .email, .password, .button{
    width: 300px;
    height: 45px;
  }
}

h1{
  color: black;
}
.card{
  width:25%;
  height:50%;
  left:35%;
}
</style>
<div class="container">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
      Invalid Credentials! Please try again.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% endif %}
 <div class="background">
 <div class="login">
   <div class="card">
     <div class="card-body">
       <h1>Admin Login!</h1>
       <br/><br/>
         <form action="/postlogin/" method="post">
           {% csrf_token %}
           <div class="form-group">
            <i class="fas fa-user" style="font-size: 34px;"></i>
              <input name="userid" type="text" class="email" id="inputEmail3" placeholder="User Id" required/>
           </div>
            <br>
            <div class="form-group">
              <i class="fas fa-key" style="font-size: 34px;"></i>
            <input name="password" type="password" class="password" id="inputPassword3" placeholder="Password" required/>
            </div>
            <br>
            <div class="terms">
            <button class="button">Sign In</button>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
