{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <div class="container">
      <img src="/static/images/shop_all.jpg" width=100% height=200px style="object-fit: cover"/>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_shopping' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_beauty' %}">Beauty & Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_books' %}">Books and Magazines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_malls' %}">Malls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_pharmacy' %}">Pharmacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fashion' %}">Fashion and Accessories</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a store..">

      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img id="icon" src="/static/images/air-lista.jpg"></img>
          </td>
          <td>
            <h4>Air Farma</h4>
            <p>Comfort and convenience in hygiene and cleaning products, cosmetics and medicines.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              2. Terminal 2 - Floor 2, Departures - International<br>
              <a href="https://www.google.com/maps/place/Air+Farma/@-22.8145563,-43.2491216,16.65z/data=!4m12!1m6!3m5!1s0x99798f3bbab02f:0x72adcdf927efbd4c!2sAir+Farma!8m2!3d-22.8147595!4d-43.2465186!3m4!1s0x99798f3bbab02f:0x72adcdf927efbd4c!8m2!3d-22.8147595!4d-43.2465186" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/amsterdam-lista.jpg"></img>
          </td>
          <td>
            <h4>Amsterdam Sauer</h4>
            <p>Jewels for those with good taste and attitude. Colorful Brazilian stones that adorn the soul.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Sauer/@-22.8136458,-43.2473357,17z/data=!4m12!1m6!3m5!1s0x99799a49777281:0xe0ab75ec25071030!2sSauer!8m2!3d-22.8136458!4d-43.245147!3m4!1s0x99799a49777281:0xe0ab75ec25071030!8m2!3d-22.8136458!4d-43.245147" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/arty-lista.jpg"></img>
          </td>
          <td>
            <h4>Arty Rio</h4>
            <p> Gifts with the color, shape and texture of the wonderful city. Take a souvenir for the ones you cherish.<br>
            <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - International<br>
              2. Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/ARTY+Rio/@-22.8103776,-43.2572681,16z/data=!4m8!1m2!2m1!1sArty+Rio+Terminal+2+-+Gale%C3%A3o,+Rio+de+Janeiro+-+State+of+Rio+de+Janeiro,+Brazil!3m4!1s0x9979d2b7beb20f:0xff79ea9978516436!8m2!3d-22.8154904!4d-43.2491522" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bagaggio-lista.jpg"></img>
          </td>
          <td>
            <h4>Bagaggio</h4>
            <p> Utilities and accessories for travelling and for day- to-day life. Find quality backpacks, suitcases, wallets and purses.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Public Area<br>
              <a href="https://www.google.com/maps/place/Bagaggio/@-22.8135906,-43.2474041,17z/data=!4m12!1m6!3m5!1s0x99798071f9fdaf:0xaf5c183ffac68ed5!2sBagaggio!8m2!3d-22.8135906!4d-43.2452154!3m4!1s0x99798071f9fdaf:0xaf5c183ffac68ed5!8m2!3d-22.8135906!4d-43.2452154" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bola-lista.jpg"></img>
          </td>
          <td>
            <h4>Bola Show</h4>
            <p>Everything for those who deeply love sports. Accessories, jerseys and soccer articles.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic <br>
              2. Terminal 2 - Floor 0, Arrivals - Public Area <br>
              3. Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Bola+Show/@-22.8136658,-43.2497506,17z/data=!4m12!1m6!3m5!1s0x9979ff3a456f61:0x6d276b4b577a3019!2sBola+Show!8m2!3d-22.8136658!4d-43.2475619!3m4!1s0x9979ff3a456f61:0x6d276b4b577a3019!8m2!3d-22.8136658!4d-43.2475619" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/britt-lista.jpg"></img>
          </td>
          <td>
            <h4>Britt Shop</h4>
            <p>Large variety of presents and souvenirs for who knows how to please. Visit the store and check out the products.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
              <a href="https://www.google.com/maps/place/Britt+Shop/@-22.8147911,-43.2486552,17z/data=!4m12!1m6!3m5!1s0x997b7ca7d44849:0xe7c8d009be72663b!2sBritt+Shop!8m2!3d-22.8147911!4d-43.2466476!3m4!1s0x997b7ca7d44849:0xe7c8d009be72663b!8m2!3d-22.8147911!4d-43.2466476" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/cellaires-lista.jpg"></img>
          </td>
          <td>
            <h4>Cellairis</h4>
            <p>Global leader in smartphone accessories. Find peripherals, adapters and specialized technical service for your device.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/chilli-lista.jpg"></img>
          </td>
          <td>
            <h4>Chilli Beans</h4>
            <p> Eyewear fashion, timeless and contemporary for people with attitude. Find your style and your brand.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Chilli+Beans+-+Quiosque+Aeroporto+Gale%C3%A3o/@-22.8052611,-43.2916489,13z/data=!4m8!1m2!2m1!1sChilli+Beans+rio+galeao+airport!3m4!1s0x0:0xe7618fdac1e04e6d!8m2!3d-22.8106615!4d-43.2513392" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Dufry - Duty Free</h4>
            <p> Find a variety of international tax-free brands, priced lower than at conventional stores.<br>
            <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - International<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              3. Terminal 2 - Floor 0, Arrivals - International<br>
            <b>Phone</b>: +55 (21) 3398-2036
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Dufry - Duty Free - Gifts & Treats</h4>
            <p> Find a variety of international tax-free brands, priced lower than at conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/dufry-lista.jpg"></img>
          </td>
          <td>
            <h4>Dufry Shopping</h4>
            <p>Duty-Free shop with a large variety of imported goods. Find your smartphone, accessory or gadget.<br>
              <b>Location</b>: Terminal 2 - Floor 1<br>
              <a href="https://www.google.com/maps/place/Dufry+Shopping/@-22.81333,-43.249005,16.78z/data=!4m8!1m2!2m1!1sDufry+rio+galeao+airport!3m4!1s0x0:0xa1e6568fc4125264!8m2!3d-22.8145123!4d-43.246994" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/ehven-lista.jpg"></img>
          </td>
          <td>
            <h4>Ehven Pedras</h4>
            <p>Jewelry and accessories for those who know fashion. Visit the store and surprise yourself.<br>
              <b>Location</b>:<br>
              1. Terminal 2 - Floor 2, Departures - Public Area <br>
              2. Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Ehven/@-22.8133297,-43.2552178,15z/data=!4m8!1m2!2m1!1sEhven+Pedras+rio+galeao+airport!3m4!1s0x0:0xd605ffdd8bb1583b!8m2!3d-22.8144987!4d-43.2458165" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/energia-lista.jpg"></img>
          </td>
          <td>
            <h4>Energia Natural</h4>
            <p> Clothes and souvenirs for the Brazilian tourist market. Transforming nature into art and fashion.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
            <a href="https://www.google.com/maps/place/Energia+Natural+-+Loja+Roupa/@-22.8126978,-43.2504709,17z/data=!4m8!1m2!2m1!1sEnergia+Natural+rio+galeao+airport!3m4!1s0x0:0xd7ada457d589b255!8m2!3d-22.8118427!4d-43.2509644" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/flower-lista.jpg"></img>
          </td>
          <td>
            <h4>Esalflores - máquina de flores</h4>
            <p> Natural flowers at your fingertips. Find the color and the ideal perfume to please and flourish all kinds of friendship.<br>
            <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Espaço Copacabana</h4>
            <p> Great national brands, no taxes (cheaper)! Enjoy!<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Espaço Ipanema</h4>
            <p>Great national brands, no taxes (cheaper)! Enjoy!<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Espaço Lapa</h4>
            <p> Great national brands, no taxes (cheaper)! Enjoy!<br>
            <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
            <a href="" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/granado-pink-lista.jpg"></img>
          </td>
          <td>
            <h4>Granado Pink</h4>
            <p> Convenience in perfumery, cosmetics and medicines. Find everything in one place.<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/granado-lista.jpg"></img>
          </td>
          <td>
            <h4>Granado Pharmacias</h4>
            <p> Convenience in perfumes, cosmetics and medicines. Find everything in one place. <br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Departures - Domestic<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Granado+Pharm%C3%A1cias/@-22.8142326,-43.2471196,17z/data=!4m8!1m2!2m1!1sGranado+Pink+rio+galeao+airport!3m4!1s0x0:0x813fe97fb514accd!8m2!3d-22.8143633!4d-43.2455892" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/havaianas-lista.jpg"></img>
          </td>
          <td>
            <h4>Havaianas</h4>
            <p> Everybody wears them. Accessories, sandals and slippers with the face of Brazil. Visit and see.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <b>Phone</b>: +55 (21) 2462-5263
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/hstern-list.jpg"></img>
          </td>
          <td>
            <h4>HStern</h4>
            <p>High jewelry items much closer to you. Find your best version with the brand that is followed by the trend.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/hudson-lista.jpg"></img>
          </td>
          <td>
            <h4>Hudson News</h4>
            <p> The world's largest network of travel convenience stores has everything you want and need. Come visit. <br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 (21)3398-2528
              2. Terminal 1 - Floor 1, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 (21)3398-3852
              3. Terminal 2 - Floor 1, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/locitane-lista.jpg"></img>
          </td>
          <td>
            <h4>L'Occitane</h4>
            <p> Cosmetics inspired by Brazilian beauties. Visit the store
              and choose the products that will accompany you on the trip. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/leitura-lista.jpg"></img>
          </td>
          <td>
            <h4>Leitura</h4>
            <p> A universe of stories for you to discover. Romance, fiction and adventure. Find new stories, tales and romances.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Departures - Domestic<br>
              2. Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Livraria+Leitura/@-22.8102401,-43.2549795,16z/data=!4m8!1m2!2m1!1sLeitura+rio+galeao+airport!3m4!1s0x99798faf56800b:0x7a97996af807da22!8m2!3d-22.8152154!4d-43.2445749" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21)3398-2619
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/maria-lista.jpg"></img>
          </td>
          <td>
            <h4>Maria Oiticica Biojoias</h4>
            <p> Woods and seeds become biojewels of high ecological value. Get to know sustainable fashion and see Brazil as an accessory.<br>
            <b>Location</b>: Terminal 2 - Floor 1, Departures - International <br>
            <b>Phone</b>: +55 (21) 3367-6465
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/maybelline-lista.jpg"></img>
          </td>
          <td>
            <h4>Maybelline New York</h4>
            <p> From a small family business to number 1 makeup brand in the world.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Michael Kors</h4>
            <p> Find a variety of international tax-free brands, priced lower than conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mt-cat-lista.jpg"></img>
          </td>
          <td>
            <h4>Mr. Cat</h4>
            <p>The footwear store that invents fashion for your feet. Variety in footwear for men and women.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Mr.Cat/@-22.8052647,-43.2653841,15z/data=!4m8!1m2!2m1!1sMr.+Cat+rio+galeao+airport!3m4!1s0x99798f0d3ec9a5:0x580741fd00df7c3!8m2!3d-22.8154823!4d-43.2454116" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21) 3367-6448
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/nacao-lista.jpg"></img>
          </td>
          <td>
            <h4>Nação Rubro Negra</h4>
            <p> Everything for those who are fanatic for the Urubu Vencedor. Find jerseys, accessories and more at the Rubro Negra (red-black) store.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic <br>
            <a href="https://www.google.com/maps/place/Na%C3%A7%C3%A3o+Rubro+Negra/@-22.8224011,-43.2868532,12.97z/data=!4m8!1m2!2m1!1sNa%C3%A7%C3%A3o+Rubro+Negra+rio+galeao+airport!3m4!1s0x0:0xce517ae8365126eb!8m2!3d-22.8106813!4d-43.2509851" target="_blank">Open in maps</a><br>
            <b>Phone</b>: +55 (21) 3398-2629
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Polo Ralph Lauren</h4>
            <p>Find a variety of international tax-free brands, priced lower than conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Polo+Ralph+Lauren/@-22.857859,-43.2980333,13z/data=!4m8!1m2!2m1!1sPolo+Ralph+Lauren+rio+galeao+airport!3m4!1s0x0:0x4aca280fd1b37040!8m2!3d-22.8150228!4d-43.2445371" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Salvatore Ferragamo</h4>
            <p>Find a variety of international tax-free brands, priced lower than conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Salvatore+Ferragamo/@-22.8123121,-43.2506724,17z/data=!4m12!1m6!3m5!1s0x99798a2877f115:0x83468584a3809c56!2sSalvatore+Ferragamo!8m2!3d-22.8123121!4d-43.2484837!3m4!1s0x99798a2877f115:0x83468584a3809c56!8m2!3d-22.8123121!4d-43.2484837" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/sunglass-lista.jpg"></img>
          </td>
          <td>
            <h4>Sunglass Hut</h4>
            <p> Eyewear fashion with style, quality and protection. Find all the status of international brands.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic <br>
            <a href="https://www.google.com/maps/place/Sunglass+Hut/@-22.8151359,-43.2487499,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f472a4afb:0x4f74d422b374704a!8m2!3d-22.8151359!4d-43.2465612" target="_blank">Open in maps</a><br>
            <b>Phone</b>: +55 (21) 3398-2589
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/track-lista.jpg"></img>
          </td>
          <td>
            <h4>Track & Field</h4>
            <p>From the runways to your closet. Men's and women's fashion aligned with the latest trends.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Track+%26+Field/@-22.8113571,-43.2538401,17z/data=!4m12!1m6!3m5!1s0x99798f40c2e6ab:0x66a0c87434390ad7!2sTrack+%26+Field!8m2!3d-22.8113571!4d-43.2516514!3m4!1s0x99798f40c2e6ab:0x66a0c87434390ad7!8m2!3d-22.8113571!4d-43.2516514" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/whs-lista.jpg"></img>
          </td>
          <td>
            <h4>WH Smith</h4>
            <p> Thousands of books and magazines for all tastes. Be well informed or take an adventure in your suitcase.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
            </p>
          </td>
        </tr>

      </table>

    </div>

{% endblock %}
