{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
      #icon {
        width: 300px;
        height: 200px;
      }
      #icon:hover {
        width: 330px;
        height: 230px;
      }
    </style>
    <div class="container">
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_lounge' %}">Lounge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_salon' %}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_spa' %}">Spa</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a lounge..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img id="icon" src="/static/images/american1.jpg"></img>
          </td>
          <td>
            <h3>American Airlines Admirals Club </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Airside, South Pier, 3rd Floor.<br>
              <b>Lounge Access:</b> Pay at the Door with proof of American Airlines ticket • Admirals Club Membership.<br>
              <a href="https://www.google.com/maps/place/American+Airlines+Admiral%E2%80%99s+Club/@-22.8154814,-43.245838,17z/data=!3m1!4b1!4m5!3m4!1s0x997905791ceeb5:0x363f9d6f86df2de2!8m2!3d-22.8154814!4d-43.2436493" target="_blank">Open in maps</a><br>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/gol1.jpg"></img>
          </td>
          <td>
            <h3>GOL Premium Lounge (Domestic) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Airside, Domestic Departures, 2nd Floor, opposite Gates B36 and B37.<br>
              <b>Lounge Access:</b> Prepaid lounge passes • Lounge membership programs.
              <br>
              <a href="https://www.google.com/maps/place/Gol+Premium+Gale%C3%A3o+Domestic/@-22.8154814,-43.245838,17z/data=!4m8!1m2!2m1!1sGOL+Premium+Lounge+(Domestic)+rio+galeao!3m4!1s0x0:0xac9c6e8e7ceae6cc!8m2!3d-22.8151366!4d-43.2464073" target="_blank">Open in maps</a><br>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/gol2.jpg"></img>
          </td>
          <td>
            <h3>GOL Premium Lounge (International) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Airside, International Departures, South Pier, Airside, 3rd Floor.<br>
              <b>Lounge Access:</b> Prepaid lounge passes • Lounge membership programs.
              <br>
              <a href="https://www.google.com/maps/place/Gol+Premium+RIOGale%C3%A3o/@-22.8150382,-43.246714,17z/data=!4m8!1m2!2m1!1sGOL+Premium+Lounge+(International)+rio+galeao+airport!3m4!1s0x0:0xdc5b2279987dea11!8m2!3d-22.815686!4d-43.2432751" target="_blank">Open in maps</a><br>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/plaza1.jpg"></img>
          </td>
          <td>
            <h3>Plaza Premium Lounge (Domestic) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Domestic Departures, Airside, 1st Floor, Mezzanine Floor.<br>
              <b>Lounge Access:</b> Pay at the Door • Prepaid lounge passes • Lounge membership programs.<br>
              <a href="https://www.google.com/maps/place/Plaza+Premium+Lounge+Brazil+(Domestic+Departures,+Terminal+2)/@-22.8132498,-43.2493652,17z/data=!3m1!4b1!4m5!3m4!1s0x99795ac16ee6cf:0x6a28cc0c5911476e!8m2!3d-22.8132498!4d-43.2473075" target="_blank">Open in maps</a><br>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/plaza2.jpg"></img>
          </td>
          <td>
            <h3>Plaza Premium Lounge (International) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, International Departures, Airside, 3rd Floor, South Pier. <br>
              <b>Lounge Access:</b> Pay at the Door • Prepaid lounge passes • Lounge membership programs.<br>
              <a href="https://www.google.com/maps/place/Plaza+Premium+Lounge+Brazil+(International+Departures,+Terminal+2)/@-22.8145308,-43.2483021,17z/data=!3m1!4b1!4m5!3m4!1s0x99798fa9b6b891:0x638c929f0674e918!8m2!3d-22.8145308!4d-43.2462444" target="_blank">Open in maps</a><br>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/plaza3.jpg"></img>
          </td>
          <td>
            <h3>Plaza Premium Lounge (Arrivals) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Arrivals Area, Landside, Car Park Building, Level 1.<br>
              <b>Lounge Access:</b> Pay at the Door • Prepaid lounge passes • Lounge membership programs.<br>
              <a href="https://www.google.com/maps/place/Plaza+Premium+Lounge+Brazil+(Arrivals,+Terminal+2)/@-22.8143826,-43.2484328,17z/data=!3m1!4b1!4m5!3m4!1s0x9979013510d5e1:0xe4e9b0d3852721b2!8m2!3d-22.8143826!4d-43.2462441" target="_blank">Open in maps</a><br>
            </h5>
          </td>
        </tr>
    </div>
{% endblock %}
