{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>
    <div class="container">
      <img src="/static/images/allfood.jpg" width=100% height=200px style="object-fit: cover"/>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img id="icon" src="/static/images/saidera-lista.jpg"></img>
          </td>
          <td>
            <h4>A Saideira</h4>
            <p> Bar and restaurant in a single place. Discover a space full of energy to create good memories. <br>
              <b>Timings</b>: 9AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/A+Saideira/@-22.8144571,-43.2459179,17z/data=!3m1!4b1!4m5!3m4!1s0x9979ba6c776393:0x9836bd05ecaf0628!8m2!3d-22.8144571!4d-43.2437292" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 11 96225-7224
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bobs-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's</h4>
            <p> The beloved Brazilian chain waits for you with hamburgers,
              snacks and beverages, all in a pleasant environment for the
              whole family. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Bob's/@-22.8155784,-43.2446421,18z/data=!4m8!1m2!2m1!1sbobs!3m4!1s0x0:0xf43a4038977c4db6!8m2!3d-22.8150228!4d-43.2424544" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bobs-shake-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's Shakes</h4>
            <p> A BOB's kiosk focused especially on desserts.
              Those that everyone already knows and can not resist. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Bob's/@-22.814129,-43.2462357,16.67z/data=!4m8!1m2!2m1!1sBob's+Shakes!3m4!1s0x0:0xf43a4038977c4db6!8m2!3d-22.8150228!4d-43.2424544" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/burguer-lista.jpg"></img>
          </td>
          <td>
            <h4>Burger King</h4>
            <p> Grilled hamburgers, special sauces and select ingredients.
              Is your mouth watering? Go to Burger King. <br>
              <b>Timings</b>: 12AM - 8PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Burger+King/@-22.8106094,-43.2578287,15.78z/data=!4m8!1m2!2m1!1sBurger+King!3m4!1s0x0:0x882cda624d295450!8m2!3d-22.8120213!4d-43.250725" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bauduco-lista.jpg"></img>
          </td>
          <td>
            <h4>Casa Bauducco</h4>
            <p> Coffee, snacks and special sweets for incredible moments. Delights that are impossible to forget. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <a href="https://www.google.com/maps/search/Casa+Bauducco/@-22.8105481,-43.3928229,11z/data=!3m1!4b1" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3004-6050
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/paoqueijo-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Casa do Pão de Queijo</h4>
            <p> Select ingredients and an unforgettable and striking accent
              make Minas Gerais' cheese bread in Rio de Janeiro. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
              <a href="https://www.google.com/maps/place/Casa+do+P%C3%A3o+de+Queijo/@-22.8142468,-43.2493467,17z/data=!3m1!4b1!4m5!3m4!1s0x99798e2fdfea27:0xa85c4081b5bb18d5!8m2!3d-22.8142468!4d-43.247158" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3986-2388
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/chocolate-q-lista.jpg"></img>
          </td>
          <td>
            <h4>Chocolate Q</h4>
            <p> Taste the chocolate that has the essence of Brazil
              in one of the most renowned chocolate boutiques. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
              <a href="https://www.google.com/maps/place/Chocolate+Q/@-22.8165769,-43.258018,14z/data=!4m8!1m2!2m1!1sChocolate+Q+rio+galeao+airport!3m4!1s0x0:0xf1555f20475a984c!8m2!3d-22.8154678!4d-43.244918" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21)3398-2175
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/colombo-lista.jpg"></img>
          </td>
          <td>
            <h4>Confeitaria Colombo</h4>
            <p> Varied choices of delicious sweet and savory treats,
              prepared with care and joy. Taste them and see for yourself. <br>
              <b>Timings</b>: 5AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
              <a href="https://www.google.com/maps/place/Confeitaria+Colombo/@-22.8145239,-43.2492176,16.73z/data=!4m8!1m2!2m1!1sConfeitaria+Colombo+rio+galeao+airport!3m4!1s0x0:0x7bb6c24a1173470e!8m2!3d-22.8149919!4d-43.2443561" target="_blank">Open in maps</a><br>
              <b>Phone</b>:+55 (21)3398-2208
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/delirio-lista.jpg"></img>
          </td>
          <td>
            <h4>Delirio Tropical</h4>
            <p> If you are looking for good food, with the feel of summer and seasoning that only a typical Brazilian restaurant has, you have found it. <br>
              <b>Timings</b>: 6:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Del%C3%ADrio+Tropical+Gale%C3%A3o/@-22.8148671,-43.2492022,17z/data=!3m1!4b1!4m5!3m4!1s0x9979c90685927b:0x184418e2be8c5101!8m2!3d-22.8148671!4d-43.2470135" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21) 3398-2608
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/delta-lista.jpg"></img>
          </td>
          <td>
            <h4>Deltaexpresso Café</h4>
            <p> Cosmopolitan cafe that is a delightful place.
              Convenience in coffee, snacks and drinks. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
              <a href="https://www.google.com/maps/place/Delta+Expresso/@-22.8161857,-43.2440189,15.92z/data=!4m8!1m2!2m1!1sDeltaexpresso+Caf%C3%A9+rio+galeao+airport!3m4!1s0x9979906ad417ad:0xd32cb9a21c631271!8m2!3d-22.8170724!4d-43.2412528" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/divino-lista.jpg"></img>
          </td>
          <td>
            <h4>Divino Fogão</h4>
            <p>Typical farm food without leaving town? Pass by Divino Fogão and taste the countryside flavors. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Divino+Fog%C3%A3o/@-22.8149867,-43.2493266,17z/data=!4m12!1m6!3m5!1s0x99798f4a7ba64d:0x9977e48bf46bc7ad!2sDivino+Fog%C3%A3o!8m2!3d-22.8149867!4d-43.2471379!3m4!1s0x99798f4a7ba64d:0x9977e48bf46bc7ad!8m2!3d-22.8149867!4d-43.2471379" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2130
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/domino-lista.jpg"></img>
          </td>
          <td>
            <h4>Domino's Pizza</h4>
            <p> The American pizzeria with fans around the world is in Brazil.
              Enjoy this delicious and special flavor. <br>
              <b>Timings</b>: 8AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Domino's+Pizza+-+Aeroporto+Gale%C3%A3o/@-22.8147065,-43.2487653,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f14453b07:0x39c8438c3ee7356a!8m2!3d-22.8147065!4d-43.2465766" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2105
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/doog-lista.jpg"></img>
          </td>
          <td>
            <h4>Doog Hot Dog</h4>
            <p> Perfect for those who love a good hot dog.
              If you were looking for an amazing experience, you have found it. <br>
              <b>Timings</b>: 6AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/search/Doog+Hot+Dog+rio+galeao+airport/@-22.8147062,-43.2553314,15z/data=!3m1!4b1" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/emporio-lista.jpg"></img>
          </td>
          <td>
            <h4>Empório Aviação</h4>
            <p> Great choice for those who want delicious coffee and quick snacks.
              Take a break and visit.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <a href="https://www.google.com/maps/place/Emporio+Avia%C3%A7ao/@-22.8151752,-43.2480139,17z/data=!3m1!4b1!4m5!3m4!1s0x99799d98969fb9:0xbec8bebf7b8c70b1!8m2!3d-22.8151752!4d-43.2458252" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/fome-lista.jpg"></img>
          </td>
          <td>
            <h4>F.O.M.E.</h4>
            <p> Restaurant with a varied menu for you to enjoy an excellent meal.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Fome/@-22.8151752,-43.2480139,17z/data=!4m8!1m2!2m1!1sF.O.M.E.+rio+galeao+airport!3m4!1s0x0:0x2ead7cebbf0bdc37!8m2!3d-22.8147243!4d-43.2473186" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/galeao-lista.jpg"></img>
          </td>
          <td>
            <h4>Galeão Coffee Shop</h4>
            <p> Coffees, drinks and snacks in an inviting and cozy environment.
              Visit and enjoy. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Gale%C3%A3o+Coffee+Shop/@-22.811586,-43.2539779,17z/data=!3m1!4b1!4m8!1m2!2m1!1sGale%C3%A3o+Coffee+Shop+rio+galeao+airport!3m4!1s0x997989db21de57:0xdc2baffce5e85db4!8m2!3d-22.811586!4d-43.2517892" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/giraffa-lista.jpg"></img>
          </td>
          <td>
            <h4>Giraffas</h4>
            <p> Homemade Brazilian food. Come taste the flavors that only Brazil offers.
              Comfortable environment and great atmosphere. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Giraffas/@-22.8150806,-43.2493983,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f4ae28bf3:0x347a72a1ad4f8fe7!8m2!3d-22.8150806!4d-43.2472096" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/harad-lista.jpg"></img>
          </td>
          <td>
            <h4>Harad</h4>
            <p> Arab cuisine in a relaxed environment for happy hour. Enjoy sweet and savory treats with a good beer. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Harad+Culin%C3%A1ria+%C3%81rabe/@-22.8150806,-43.2493983,17z/data=!4m8!1m2!2m1!1sHarad+rio+galeao+airport!3m4!1s0x99794e8d880c9f:0x2e055df7648c468e!8m2!3d-22.8127773!4d-43.247851" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/havana-lista.jpg"></img>
          </td>
          <td>
            <h4>Havanna Café</h4>
            <p> The famous brand that is synonymous with delicious alfajores
              waits for you in a cozy and elegant environment. <br>
              <b>Timings</b>: 5AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Havanna/@-22.8139346,-43.2498351,17z/data=!4m12!1m6!3m5!1s0x99798f6bb52b11:0x94a6a701e37cbc97!2sHavanna!8m2!3d-22.8139346!4d-43.2476464!3m4!1s0x99798f6bb52b11:0x94a6a701e37cbc97!8m2!3d-22.8139346!4d-43.2476464" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/kafe-lista.jpg"></img>
          </td>
          <td>
            <h4>Kafe</h4>
            <p> A relaxed and laid-back environment waits for you.
              Enjoy drinks, coffees and mouth-watering snacks. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/koni-lista.jpg"></img>
          </td>
          <td>
            <h4>Koni Express</h4>
            <p> The best of Japanese cuisine in an environment that makes you feel the calm atmosphere of the East. <br>
              <b>Timings</b>: 11AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Koni/@-22.8143993,-43.2460155,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f316f6601:0x15ee7983e790066c!8m2!3d-22.8143993!4d-43.2438268" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 11 4153-6558
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/Kopenhagen-lista.jpg"></img>
          </td>
          <td>
            <h4>Kopenhagen</h4>
            <p> Wide variety of special and select chocolates. Find your favorite delights and amazing gifts. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <a href="https://www.google.com/maps/place/Kopenhagen/@-22.8102739,-43.2557437,16z/data=!4m8!1m2!2m1!1sKopenhagen+rio+galeao+airport!3m4!1s0x0:0xa3e4f64b44e95c82!8m2!3d-22.8152824!4d-43.2461035" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2101
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mania-lista.jpg"></img>
          </td>
          <td>
            <h4>Mania de Churrasco</h4>
            <p> If you do not give up a nice barbecue, well roasted meat and made with noble cuts,
              do not forget to visit Mania de Churrasco. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Mania+de+Churrasco/@-22.8133114,-43.2484165,17z/data=!3m1!4b1!4m5!3m4!1s0x9979ba6aa73b73:0xf1dac2045d5742d1!8m2!3d-22.8133114!4d-43.2462278" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mcdonald-lista.jpg"></img>
          </td>
          <td>
            <h4>Mc Donald's</h4>
            <p> The traditional American hamburger that is already a little piece of Brazil.
              Big Mac's house is waiting for you. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/McDonald's/@-22.8150797,-43.2437117,18.47z/data=!4m5!3m4!1s0x99798f3116800d:0x81ee8ef65e77640!8m2!3d-22.8150979!4d-43.2424985" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 16 3267-0269
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mcdonald-sorvete-lista.jpg"></img>
          </td>
          <td>
            <h4>McSorvete</h4>
            <p> The traditional Mc Donald's desserts. Big Mac's house is waiting for you. <br>
            <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/megamatte-lista.jpg"></img>
          </td>
          <td>
            <h4>Megamatte</h4>
            <p> Tasty, refreshing and healthy. Choose from the variety of drinks made with
              organic yerba mate and quench your thirst.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Mega+Matte/@-22.8190111,-43.2584773,14.66z/data=!4m5!3m4!1s0x0:0x80a5a325f5e81a9c!8m2!3d-22.8141921!4d-43.2469565" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bakers-lista.jpg"></img>
          </td>
          <td>
            <h4>Mr. Baker</h4>
            <p> Coffees and snacks as you wish. It’s a good order at all times. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/cheney-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Mr. Cheney</h4>
            <p> Specializing in cookies and American delicacies.<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/nutty-lista.jpg"></img>
          </td>
          <td>
            <h4>Nutty Bavarian</h4>
            <p> Experts in nuts, friends of your health. If your seek a lighter life,
              come by the Bavarian Nutty. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/Palaphita-lista.jpg"></img>
          </td>
          <td>
            <h4>Palaphita</h4>
            <p> Cool bar and grill, laid-back and fun. Plenty of cold beer, energy and good food. <br>
              <b>Timings</b>: 10AM - 1AM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Palaphita/@-22.8153575,-43.2469478,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f094b29d3:0xf7f4fe87e9efe8ec!8m2!3d-22.8153575!4d-43.2447591" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/pastatore-lista.jpg"></img>
          </td>
          <td>
            <h4>Pastatore</h4>
            <p> Specializing in pastas, pizzas and lasagne. That Italian taste that everyone loves. <br>
            <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
            <b>Phone</b>: +55 (21) 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/hut-lista.jpg"></img>
          </td>
          <td>
            <h4>Pizza Hut</h4>
            <p> Visit the famous American pizzeria and be amazed by the flavor that only a perfect combination of ingredients provides. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Pizza+Hut/@-22.8411703,-43.313545,12z/data=!4m8!1m2!2m1!1sPizza+Hut+riogale%C3%A3o+airport!3m4!1s0x0:0x61213f48f7e3bc02!8m2!3d-22.8149338!4d-43.2464361" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mate-lista.jpg"></img>
          </td>
          <td>
            <h4>Rei do Mate</h4>
            <p> Brazilian tea house with wide variety of teas and coffee beans.
              Enjoy a cozy environment and an incredible drink. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Rei+do+Mate/@-22.8411397,-43.3135452,12z/data=!4m8!1m2!2m1!1sRei+do+Mate+riogale%C3%A3o+airport!3m4!1s0x99798ebe4896e7:0xe0364d4d79d32125!8m2!3d-22.8140796!4d-43.247687" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2060
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/salch-lista.jpg"></img>
          </td>
          <td>
            <h4>Salch&Pão</h4>
            <p> The traditional Brazilian hot dog that is an explosion of flavors.
              Take a break and satisfy your hunger. <br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/spoleto-lista.jpg"></img>
          </td>
          <td>
            <h4>Spoleto</h4>
            <p> Italian restaurant that transports your mind to Naples. Enjoy excellent food. <br>
              <b>Timings</b>: 10AM - 11PM <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Spoleto/@-22.8635535,-43.3441205,12z/data=!4m8!1m2!2m1!1sSpoleto+riogale%C3%A3o+airport!3m4!1s0x0:0xdcd411fc366ff561!8m2!3d-22.8171293!4d-43.2413507" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21)3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/starbucks-lista.jpg"></img>
          </td>
          <td>
            <h4>Starbucks Coffee</h4>
            <p> Coffees, sweets and savory snacks in a relaxed, alternative and
              quiet environment for you to enjoy before your trip. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Public Area<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Starbucks/@-22.8134745,-43.247049,15z/data=!4m8!1m2!2m1!1sStarbucks+riogale%C3%A3o+airport!3m4!1s0x0:0x564f122cd07a6b18!8m2!3d-22.8142416!4d-43.2470557" target="_blank">Open in maps</a><br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 800 777 8252<br>
              2. Terminal 2 - Floor 2, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Starbucks/@-22.8134745,-43.247049,15z/data=!4m8!1m2!2m1!1sStarbucks+riogale%C3%A3o+airport!3m4!1s0x0:0x52065f030a561797!8m2!3d-22.8144567!4d-43.2437298" target="_blank">Open in maps</a><br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 21 3398-2102
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/subway-lista.jpg"></img>
          </td>
          <td>
            <h4>Subway</h4>
            <p> Restaurant with fast, healthy and varied sandwiches.
              Choose your ingredients and discover new sauces and seasonings. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Phone</b>: +55 21 3148-2098<br>
              <b>Location</b>:
              1. Terminal 2 - Floor 1, Public Area<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              3. Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Subway/@-22.8144697,-43.2552588,15.91z/data=!4m8!1m2!2m1!1sSubway+riogale%C3%A3o+airport!3m4!1s0x0:0xb2b35f4d08b0eb06!8m2!3d-22.8134133!4d-43.2468921" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/tapi-lista.jpg"></img>
          </td>
          <td>
            <h4>Tapí Tapioca</h4>
            <p> Artisanal tapioca with a touch of traditional indigenous food.
              Always made with care and flavor at Tapí. <br>
              <b>Timings</b>: 6AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Tap%C3%AD+Tapioca/@-22.8144687,-43.2680932,14z/data=!4m8!1m2!2m1!1sTap%C3%AD+Tapioca+riogale%C3%A3o+airport!3m4!1s0x997946dce96d69:0xfb625a38fa347696!8m2!3d-22.8143459!4d-43.2459152" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2081
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/friday-lista.jpg"></img>
          </td>
          <td>
            <h4>T.G.I. Fridays</h4>
            <p> For a happy hour or the last meeting before your trip, choose the restaurant that has Friday's menu every day. <br>
              <b>Timings</b>: 10AM - 11PM<br>
              <b>Location</b>:<br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              2. Terminal 2 - Floor 0, Arrivals - Public Area<br>
              <a href="https://www.google.com/maps/place/TGI+Fridays+-+Riogale%C3%A3o+Terminal+2+Desembarque/@-22.8157385,-43.2470488,17.81z/data=!4m12!1m6!3m5!1s0x9979c56f6e81d3:0x18412610ff09545a!2sTGI+Fridays+-+Riogale%C3%A3o+Terminal+2+Desembarque!8m2!3d-22.8154963!4d-43.2461693!3m4!1s0x9979c56f6e81d3:0x18412610ff09545a!8m2!3d-22.8154963!4d-43.2461693" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2113
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/upper-lista.jpg"></img>
          </td>
          <td>
            <h4>Upper Crust</h4>
            <p> Fresh and fast. Baked throughout the day,
              we are the baguette experts. <br>
              <b>Timings</b>: 5:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Upper+Crust/@-22.8135523,-43.2477306,19.75z/data=!4m8!1m2!2m1!1sUpper+Crust+riogale%C3%A3o+airport!3m4!1s0x9979c2df9b3c2b:0x4db77590e133f69e!8m2!3d-22.813689!4d-43.2475264" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/vivenda-lista.jpg"></img>
          </td>
          <td>
            <h4>Vivenda do Camarão</h4>
            <p> Typical Brazilian cuisine that tastes like homemade food. Visit an ideal place to share happy moments. <br>
              <b>Timings</b>: 10AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Vivenda+do+Camar%C3%A3o/@-22.8129841,-43.2498243,17.41z/data=!4m8!1m2!2m1!1sVivenda+do+Camar%C3%A3o+riogale%C3%A3o+airport!3m4!1s0x0:0x1df9905f20cf84ab!8m2!3d-22.8148572!4d-43.2472984" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 800 12 9333
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
