{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <div class="container">
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_lounge' %}">Lounge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_salon' %}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_spa' %}">Spa</a>
        </li>
      </ul>
      <br>
      <h3>Head to the Werner Coiffeur salon in Terminal 1 for some hairstyling.</h3>
      <hr>
      <br>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3" ></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/salon2.jpg" class="d-block w-100" alt="..." height=500px style="object-fit: cover">
          </div>
          <div class="carousel-item">
            <img src="/static/images/salon3.jpg" class="d-block w-100" alt="..." height=500px style="object-fit: cover">
          </div>
          <div class="carousel-item">
            <img src="/static/images/salon1.jpg" class="d-block w-100" alt="..." height=500px style="object-fit: cover">
          </div>
          <div class="carousel-item">
            <img src="/static/images/werner.jpg" class="d-block w-100" alt="..." height=500px style="object-fit: cover">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

{% endblock %}
