{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>

    <div class="container">
      <img src="/static/images/coffee.jpg" width=100% height=200px style="object-fit: cover"/>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/bauduco-lista.jpg"></img>
          </td>
          <td>
            <h4>Casa Bauducco</h4>
            <p> Coffee, snacks and special sweets for incredible moments. Delights that are impossible to forget. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <a href="https://www.google.com/maps/search/Casa+Bauducco/@-22.8105481,-43.3928229,11z/data=!3m1!4b1" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3004-6050
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/paoqueijo-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Casa do Pão de Queijo</h4>
            <p> Select ingredients and an unforgettable and striking accent
              make Minas Gerais' cheese bread in Rio de Janeiro. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area<br>
              <a href="https://www.google.com/maps/place/Casa+do+P%C3%A3o+de+Queijo/@-22.8142468,-43.2493467,17z/data=!3m1!4b1!4m5!3m4!1s0x99798e2fdfea27:0xa85c4081b5bb18d5!8m2!3d-22.8142468!4d-43.247158" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3986-2388
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/chocolate-q-lista.jpg"></img>
          </td>
          <td>
            <h4>Chocolate Q</h4>
            <p> Taste the chocolate that has the essence of Brazil
              in one of the most renowned chocolate boutiques. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Chocolate+Q/@-22.8165769,-43.258018,14z/data=!4m8!1m2!2m1!1sChocolate+Q+rio+galeao+airport!3m4!1s0x0:0xf1555f20475a984c!8m2!3d-22.8154678!4d-43.244918" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21)3398-2175
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/colombo-lista.jpg"></img>
          </td>
          <td>
            <h4>Confeitaria Colombo</h4>
            <p> Varied choices of delicious sweet and savory treats,
              prepared with care and joy. Taste them and see for yourself. <br>
              <b>Timings</b>: 5AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
              <a href="https://www.google.com/maps/place/Confeitaria+Colombo/@-22.8145239,-43.2492176,16.73z/data=!4m8!1m2!2m1!1sConfeitaria+Colombo+rio+galeao+airport!3m4!1s0x0:0x7bb6c24a1173470e!8m2!3d-22.8149919!4d-43.2443561" target="_blank">Open in maps</a><br>
              <b>Phone</b>:+55 (21)3398-2208
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/delta-lista.jpg"></img>
          </td>
          <td>
            <h4>Deltaexpresso Café</h4>
            <p> Cosmopolitan cafe that is a delightful place.
              Convenience in coffee, snacks and drinks. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International<br>
              <a href="https://www.google.com/maps/place/Delta+Expresso/@-22.8161857,-43.2440189,15.92z/data=!4m8!1m2!2m1!1sDeltaexpresso+Caf%C3%A9+rio+galeao+airport!3m4!1s0x9979906ad417ad:0xd32cb9a21c631271!8m2!3d-22.8170724!4d-43.2412528" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/emporio-lista.jpg"></img>
          </td>
          <td>
            <h4>Empório Aviação</h4>
            <p> Great choice for those who want delicious coffee and quick snacks.
              Take a break and visit.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <a href="https://www.google.com/maps/place/Emporio+Avia%C3%A7ao/@-22.8151752,-43.2480139,17z/data=!3m1!4b1!4m5!3m4!1s0x99799d98969fb9:0xbec8bebf7b8c70b1!8m2!3d-22.8151752!4d-43.2458252" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/galeao-lista.jpg"></img>
          </td>
          <td>
            <h4>Galeão Coffee Shop</h4>
            <p> Coffees, drinks and snacks in an inviting and cozy environment.
              Visit and enjoy. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Gale%C3%A3o+Coffee+Shop/@-22.811586,-43.2539779,17z/data=!3m1!4b1!4m8!1m2!2m1!1sGale%C3%A3o+Coffee+Shop+rio+galeao+airport!3m4!1s0x997989db21de57:0xdc2baffce5e85db4!8m2!3d-22.811586!4d-43.2517892" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/havana-lista.jpg"></img>
          </td>
          <td>
            <h4>Havanna Café</h4>
            <p> The famous brand that is synonymous with delicious alfajores
              waits for you in a cozy and elegant environment. <br>
              <b>Timings</b>: 5AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Havanna/@-22.8139346,-43.2498351,17z/data=!4m12!1m6!3m5!1s0x99798f6bb52b11:0x94a6a701e37cbc97!2sHavanna!8m2!3d-22.8139346!4d-43.2476464!3m4!1s0x99798f6bb52b11:0x94a6a701e37cbc97!8m2!3d-22.8139346!4d-43.2476464" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/kafe-lista.jpg"></img>
          </td>
          <td>
            <h4>Kafe</h4>
            <p> A relaxed and laid-back environment waits for you.
              Enjoy drinks, coffees and mouth-watering snacks. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/Kopenhagen-lista.jpg"></img>
          </td>
          <td>
            <h4>Kopenhagen</h4>
            <p> Wide variety of special and select chocolates. Find your favorite delights and amazing gifts. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <a href="https://www.google.com/maps/place/Kopenhagen/@-22.8102739,-43.2557437,16z/data=!4m8!1m2!2m1!1sKopenhagen+rio+galeao+airport!3m4!1s0x0:0xa3e4f64b44e95c82!8m2!3d-22.8152824!4d-43.2461035" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2101
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/bakers-lista.jpg"></img>
          </td>
          <td>
            <h4>Mr. Baker</h4>
            <p> Coffees and snacks as you wish. It’s a good order at all times. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mate-lista.jpg"></img>
          </td>
          <td>
            <h4>Rei do Mate</h4>
            <p> Brazilian tea house with wide variety of teas and coffee beans.
              Enjoy a cozy environment and an incredible drink. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Rei+do+Mate/@-22.8411397,-43.3135452,12z/data=!4m8!1m2!2m1!1sRei+do+Mate+riogale%C3%A3o+airport!3m4!1s0x99798ebe4896e7:0xe0364d4d79d32125!8m2!3d-22.8140796!4d-43.247687" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2060
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/starbucks-lista.jpg"></img>
          </td>
          <td>
            <h4>Starbucks Coffee</h4>
            <p> Coffees, sweets and savory snacks in a relaxed, alternative and
              quiet environment for you to enjoy before your trip. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Public Area<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Starbucks/@-22.8134745,-43.247049,15z/data=!4m8!1m2!2m1!1sStarbucks+riogale%C3%A3o+airport!3m4!1s0x0:0x564f122cd07a6b18!8m2!3d-22.8142416!4d-43.2470557" target="_blank">Open in maps</a><br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 800 777 8252<br>
              2. Terminal 2 - Floor 2, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Starbucks/@-22.8134745,-43.247049,15z/data=!4m8!1m2!2m1!1sStarbucks+riogale%C3%A3o+airport!3m4!1s0x0:0x52065f030a561797!8m2!3d-22.8144567!4d-43.2437298" target="_blank">Open in maps</a><br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 21 3398-2102
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/upper-lista.jpg"></img>
          </td>
          <td>
            <h4>Upper Crust</h4>
            <p> Fresh and fast. Baked throughout the day,
              we are the baguette experts. <br>
              <b>Timings</b>: 5:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Upper+Crust/@-22.8135523,-43.2477306,19.75z/data=!4m8!1m2!2m1!1sUpper+Crust+riogale%C3%A3o+airport!3m4!1s0x9979c2df9b3c2b:0x4db77590e133f69e!8m2!3d-22.813689!4d-43.2475264" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
