{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>
    <div class="container">
      <img src="/static/images/restaurants.jpg" width=100% height=200px style="object-fit: cover"/>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/saidera-lista.jpg"></img>
          </td>
          <td>
            <h4>A Saideira</h4>
            <p> Bar and restaurant in a single place. Discover a space full of energy to create good memories. <br>
              <b>Timings</b>: 9AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/A+Saideira/@-22.8144571,-43.2459179,17z/data=!3m1!4b1!4m5!3m4!1s0x9979ba6c776393:0x9836bd05ecaf0628!8m2!3d-22.8144571!4d-43.2437292" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 11 96225-7224
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/delirio-lista.jpg"></img>
          </td>
          <td>
            <h4>Delirio Tropical</h4>
            <p> If you are looking for good food, with the feel of summer and seasoning that only a typical Brazilian restaurant has, you have found it. <br>
              <b>Timings</b>: 6:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Del%C3%ADrio+Tropical+Gale%C3%A3o/@-22.8148671,-43.2492022,17z/data=!3m1!4b1!4m5!3m4!1s0x9979c90685927b:0x184418e2be8c5101!8m2!3d-22.8148671!4d-43.2470135" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21) 3398-2608
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/divino-lista.jpg"></img>
          </td>
          <td>
            <h4>Divino Fogão</h4>
            <p>Typical farm food without leaving town? Pass by Divino Fogão and taste the countryside flavors. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Divino+Fog%C3%A3o/@-22.8149867,-43.2493266,17z/data=!4m12!1m6!3m5!1s0x99798f4a7ba64d:0x9977e48bf46bc7ad!2sDivino+Fog%C3%A3o!8m2!3d-22.8149867!4d-43.2471379!3m4!1s0x99798f4a7ba64d:0x9977e48bf46bc7ad!8m2!3d-22.8149867!4d-43.2471379" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2130
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/giraffa-lista.jpg"></img>
          </td>
          <td>
            <h4>Giraffas</h4>
            <p> Homemade Brazilian food. Come taste the flavors that only Brazil offers.
              Comfortable environment and great atmosphere. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Giraffas/@-22.8150806,-43.2493983,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f4ae28bf3:0x347a72a1ad4f8fe7!8m2!3d-22.8150806!4d-43.2472096" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mania-lista.jpg"></img>
          </td>
          <td>
            <h4>Mania de Churrasco</h4>
            <p> If you do not give up a nice barbecue, well roasted meat and made with noble cuts,
              do not forget to visit Mania de Churrasco. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Mania+de+Churrasco/@-22.8133114,-43.2484165,17z/data=!3m1!4b1!4m5!3m4!1s0x9979ba6aa73b73:0xf1dac2045d5742d1!8m2!3d-22.8133114!4d-43.2462278" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/megamatte-lista.jpg"></img>
          </td>
          <td>
            <h4>Megamatte</h4>
            <p> Tasty, refreshing and healthy. Choose from the variety of drinks made with
              organic yerba mate and quench your thirst.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Mega+Matte/@-22.8190111,-43.2584773,14.66z/data=!4m5!3m4!1s0x0:0x80a5a325f5e81a9c!8m2!3d-22.8141921!4d-43.2469565" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/nutty-lista.jpg"></img>
          </td>
          <td>
            <h4>Nutty Bavarian</h4>
            <p> Experts in nuts, friends of your health. If your seek a lighter life,
              come by the Bavarian Nutty. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/Palaphita-lista.jpg"></img>
          </td>
          <td>
            <h4>Palaphita</h4>
            <p> Cool bar and grill, laid-back and fun. Plenty of cold beer, energy and good food. <br>
              <b>Timings</b>: 10AM - 1AM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Palaphita/@-22.8153575,-43.2469478,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f094b29d3:0xf7f4fe87e9efe8ec!8m2!3d-22.8153575!4d-43.2447591" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/pastatore-lista.jpg"></img>
          </td>
          <td>
            <h4>Pastatore</h4>
            <p> Specializing in pastas, pizzas and lasagne. That Italian taste that everyone loves. <br>
            <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
            <b>Phone</b>: +55 (21) 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/hut-lista.jpg"></img>
          </td>
          <td>
            <h4>Pizza Hut</h4>
            <p> Visit the famous American pizzeria and be amazed by the flavor that only a perfect combination of ingredients provides. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Pizza+Hut/@-22.8411703,-43.313545,12z/data=!4m8!1m2!2m1!1sPizza+Hut+riogale%C3%A3o+airport!3m4!1s0x0:0x61213f48f7e3bc02!8m2!3d-22.8149338!4d-43.2464361" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/spoleto-lista.jpg"></img>
          </td>
          <td>
            <h4>Spoleto</h4>
            <p> Italian restaurant that transports your mind to Naples. Enjoy excellent food. <br>
              <b>Timings</b>: 10AM - 11PM <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Spoleto/@-22.8635535,-43.3441205,12z/data=!4m8!1m2!2m1!1sSpoleto+riogale%C3%A3o+airport!3m4!1s0x0:0xdcd411fc366ff561!8m2!3d-22.8171293!4d-43.2413507" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 (21)3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/friday-lista.jpg"></img>
          </td>
          <td>
            <h4>T.G.I. Fridays</h4>
            <p> For a happy hour or the last meeting before your trip, choose the restaurant that has Friday's menu every day. <br>
              <b>Timings</b>: 10AM - 11PM<br>
              <b>Location</b>:<br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              2. Terminal 2 - Floor 0, Arrivals - Public Area<br>
              <a href="https://www.google.com/maps/place/TGI+Fridays+-+Riogale%C3%A3o+Terminal+2+Desembarque/@-22.8157385,-43.2470488,17.81z/data=!4m12!1m6!3m5!1s0x9979c56f6e81d3:0x18412610ff09545a!2sTGI+Fridays+-+Riogale%C3%A3o+Terminal+2+Desembarque!8m2!3d-22.8154963!4d-43.2461693!3m4!1s0x9979c56f6e81d3:0x18412610ff09545a!8m2!3d-22.8154963!4d-43.2461693" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2113
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/vivenda-lista.jpg"></img>
          </td>
          <td>
            <h4>Vivenda do Camarão</h4>
            <p> Typical Brazilian cuisine that tastes like homemade food. Visit an ideal place to share happy moments. <br>
              <b>Timings</b>: 10AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Vivenda+do+Camar%C3%A3o/@-22.8129841,-43.2498243,17.41z/data=!4m8!1m2!2m1!1sVivenda+do+Camar%C3%A3o+riogale%C3%A3o+airport!3m4!1s0x0:0x1df9905f20cf84ab!8m2!3d-22.8148572!4d-43.2472984" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 800 12 9333
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
