{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }

    </style>

    <div class="container">
      <img src="/static/images/shop_pharma.jpg" width=100% height=200px style="object-fit: cover"/>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_shopping' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_beauty' %}">Beauty & Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_books' %}">Books and Magazines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_malls' %}">Malls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_pharmacy' %}">Pharmacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fashion' %}">Fashion and Accessories</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a store..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/air-lista.jpg"></img>
          </td>
          <td>
            <h4>Air Farma</h4>
            <p>Comfort and convenience in hygiene and cleaning products, cosmetics and medicines.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              2. Terminal 2 - Floor 2, Departures - International<br>
              <a href="https://www.google.com/maps/place/Air+Farma/@-22.8145563,-43.2491216,16.65z/data=!4m12!1m6!3m5!1s0x99798f3bbab02f:0x72adcdf927efbd4c!2sAir+Farma!8m2!3d-22.8147595!4d-43.2465186!3m4!1s0x99798f3bbab02f:0x72adcdf927efbd4c!8m2!3d-22.8147595!4d-43.2465186" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/granado-pink-lista.jpg"></img>
          </td>
          <td>
            <h4>Granado Pink</h4>
            <p> Convenience in perfumery, cosmetics and medicines. Find everything in one place.<br>

            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/granado-lista.jpg"></img>
          </td>
          <td>
            <h4>Granado Pharmacias</h4>
            <p> Convenience in perfumes, cosmetics and medicines. Find everything in one place. <br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Departures - Domestic<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              <a href="https://www.google.com/maps/place/Granado+Pharm%C3%A1cias/@-22.8142326,-43.2471196,17z/data=!4m8!1m2!2m1!1sGranado+Pink+rio+galeao+airport!3m4!1s0x0:0x813fe97fb514accd!8m2!3d-22.8143633!4d-43.2455892" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>



      </table>
    </div>

{% endblock %}
