{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>

    <div class="container">
      <img src="/static/images/fast.jpg" width=100% height=200px style="object-fit: cover; object-position: 0 80%;"/>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/bobs-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's</h4>
            <p> The beloved Brazilian chain waits for you with hamburgers,
              snacks and beverages, all in a pleasant environment for the
              whole family. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Bob's/@-22.814129,-43.2462357,16.67z/data=!4m8!1m2!2m1!1sBob's+Shakes!3m4!1s0x0:0xf43a4038977c4db6!8m2!3d-22.8150228!4d-43.2424544" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/bobs-shake-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's Shakes</h4>
            <p> A BOB's kiosk focused especially on desserts.
              Those that everyone already knows and can not resist. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <a href="https://www.google.com/maps/place/Bob's/@-22.814129,-43.2462357,16.67z/data=!4m8!1m2!2m1!1sBob's+Shakes!3m4!1s0x0:0xf43a4038977c4db6!8m2!3d-22.8150228!4d-43.2424544" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/burguer-lista.jpg"></img>
          </td>
          <td>
            <h4>Burger King</h4>
            <p> Grilled hamburgers, special sauces and select ingredients.
              Is your mouth watering? Go to Burger King. <br>
              <b>Timings</b>: 12AM - 8PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Burger+King/@-22.8106094,-43.2578287,15.78z/data=!4m8!1m2!2m1!1sBurger+King!3m4!1s0x0:0x882cda624d295450!8m2!3d-22.8120213!4d-43.250725" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/domino-lista.jpg"></img>
          </td>
          <td>
            <h4>Domino's Pizza</h4>
            <p> The American pizzeria with fans around the world is in Brazil.
              Enjoy this delicious and special flavor. <br>
              <b>Timings</b>: 8AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Domino's+Pizza+-+Aeroporto+Gale%C3%A3o/@-22.8147065,-43.2487653,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f14453b07:0x39c8438c3ee7356a!8m2!3d-22.8147065!4d-43.2465766" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2105
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/doog-lista.jpg"></img>
          </td>
          <td>
            <h4>Doog Hot Dog</h4>
            <p> Perfect for those who love a good hot dog.
              If you were looking for an amazing experience, you have found it. <br>
              <b>Timings</b>: 6AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/search/Doog+Hot+Dog+rio+galeao+airport/@-22.8147062,-43.2553314,15z/data=!3m1!4b1" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/fome-lista.jpg"></img>
          </td>
          <td>
            <h4>F.O.M.E.</h4>
            <p> Restaurant with a varied menu for you to enjoy an excellent meal.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Fome/@-22.8151752,-43.2480139,17z/data=!4m8!1m2!2m1!1sF.O.M.E.+rio+galeao+airport!3m4!1s0x0:0x2ead7cebbf0bdc37!8m2!3d-22.8147243!4d-43.2473186" target="_blank">Open in maps</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/harad-lista.jpg"></img>
          </td>
          <td>
            <h4>Harad</h4>
            <p> Arab cuisine in a relaxed environment for happy hour. Enjoy sweet and savory treats with a good beer. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Harad+Culin%C3%A1ria+%C3%81rabe/@-22.8150806,-43.2493983,17z/data=!4m8!1m2!2m1!1sHarad+rio+galeao+airport!3m4!1s0x99794e8d880c9f:0x2e055df7648c468e!8m2!3d-22.8127773!4d-43.247851" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/koni-lista.jpg"></img>
          </td>
          <td>
            <h4>Koni Express</h4>
            <p> The best of Japanese cuisine in an environment that makes you feel the calm atmosphere of the East. <br>
              <b>Timings</b>: 11AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Koni/@-22.8143993,-43.2460155,17z/data=!3m1!4b1!4m5!3m4!1s0x99798f316f6601:0x15ee7983e790066c!8m2!3d-22.8143993!4d-43.2438268" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 11 4153-6558
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mcdonald-lista.jpg"></img>
          </td>
          <td>
            <h4>Mc Donald's</h4>
            <p> The traditional American hamburger that is already a little piece of Brazil.
              Big Mac's house is waiting for you. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/McDonald's/@-22.8150797,-43.2437117,18.47z/data=!4m5!3m4!1s0x99798f3116800d:0x81ee8ef65e77640!8m2!3d-22.8150979!4d-43.2424985" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 16 3267-0269
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mcdonald-sorvete-lista.jpg"></img>
          </td>
          <td>
            <h4>McSorvete</h4>
            <p> The traditional Mc Donald's desserts. Big Mac's house is waiting for you. <br>
            <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/cheney-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Mr. Cheney</h4>
            <p> Specializing in cookies and American delicacies.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/salch-lista.jpg"></img>
          </td>
          <td>
            <h4>Salch&Pão</h4>
            <p> The traditional Brazilian hot dog that is an explosion of flavors.
              Take a break and satisfy your hunger. <br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/subway-lista.jpg"></img>
          </td>
          <td>
            <h4>Subway</h4>
            <p> Restaurant with fast, healthy and varied sandwiches.
              Choose your ingredients and discover new sauces and seasonings. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Phone</b>: +55 21 3148-2098<br>
              <b>Location</b>:
              1. Terminal 2 - Floor 1, Public Area<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              3. Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Subway/@-22.8144697,-43.2552588,15.91z/data=!4m8!1m2!2m1!1sSubway+riogale%C3%A3o+airport!3m4!1s0x0:0xb2b35f4d08b0eb06!8m2!3d-22.8134133!4d-43.2468921" target="_blank">Open in maps</a><br>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/tapi-lista.jpg"></img>
          </td>
          <td>
            <h4>Tapí Tapioca</h4>
            <p> Artisanal tapioca with a touch of traditional indigenous food.
              Always made with care and flavor at Tapí. <br>
              <b>Timings</b>: 6AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <a href="https://www.google.com/maps/place/Tap%C3%AD+Tapioca/@-22.8144687,-43.2680932,14z/data=!4m8!1m2!2m1!1sTap%C3%AD+Tapioca+riogale%C3%A3o+airport!3m4!1s0x997946dce96d69:0xfb625a38fa347696!8m2!3d-22.8143459!4d-43.2459152" target="_blank">Open in maps</a><br>
              <b>Phone</b>: +55 21 3398-2081
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
