{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <div class="container">
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_lounge' %}">Lounge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_salon' %}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_spa' %}">Spa</a>
        </li>
      </ul>
      <br>
      <table id="myTable" cellpadding="10" style="text-align: center">
        <tr>
          <td>
            <h3>Buddha Spa</h3>
            <p>Waiting for your flight can be more relaxing than you think. At RIOgaleão, you can have a massage and take care of your skin and body while you wait for your boarding time. Turn your wait into a moment of well-being.</p>
            <b>Location:</b> Domestic Terminal 2 - 2nd Floor <br>
            <a href="https://www.google.com/maps/place/Buddha+Spa+Gale%C3%A3o/@-22.8102086,-43.2558664,16z/data=!4m8!1m2!2m1!1sbuddha+spa+at+RIOgale%C3%A3o+-+Tom+Jobim+International+Airport+(GIG)+-+Avenida+Vinte+de+Janeiro+-+Ilha+do+Governador,+Rio+de+Janeiro+-+State+of+Rio+de+Janeiro,+Brazil!3m4!1s0x0:0x702c1f8cb65f847e!8m2!3d-22.8148473!4d-43.2467405" target="_blank">Open in maps</a><br>
            <b>Phone:</b> +55 (21) 97926.1311
          </td>
        </tr>
      </table>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" ></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/spa1.jpg" class="d-block w-100" alt="..." height=400px style="object-fit: cover">
        </div>
        <div class="carousel-item">
          <img src="/static/images/spa2.jpg" class="d-block w-100" alt="..." height=400px style="object-fit: cover">
        </div>
        <div class="carousel-item">
          <img src="/static/images/spa3.jpg" class="d-block w-100" alt="..." height=400px style="object-fit: cover">
        </div>
        <div class="carousel-item">
          <img src="/static/images/spa4.jpg" class="d-block w-100" alt="..." height=400px style="object-fit: cover">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    </div>

{% endblock %}
