{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body{
         color: black;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         text-align: center;
      }
      #myInput {
         background-image: url('/static/images/searchicon.jpg'); /* Add a search icon to input */
         background-position: 10px 12px; /* Position the search icon */
         background-repeat: no-repeat; /* Do not repeat the icon image */
         width: 100%; /* Full-width */
         font-size: 16px; /* Increase font-size */
         padding: 12px 20px 12px 40px; /* Add some padding */
         border: 1px solid #ddd; /* Add a grey border */
         margin-bottom: 12px; /* Add some space below the input */
       }

       #myTable {
         border-collapse: collapse; /* Collapse borders */
         width: 100%; /* Full-width */
         border: 15px solid #ddd; /* Add a grey border */
         font-size: 18px; /* Increase font-size */
       }

       #myTable th, #myTable td {
         text-align: left; /* Left-align text */
         padding: 12px; /* Add padding */
       }

       #myTable tr {
         /* Add a bottom border to all table rows */
         border-bottom: 15px solid #ddd;
       }

       #myTable tr.header, #myTable tr:hover {
         /* Add a grey background color to the table header and on hover */
         background-color: black;
         color: white;
       }
    </style>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });

    </script>

  </head>
  <body>
    {% load static %}
    {% block div %}

    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>
</html>
