{% block content %}
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
  }
</script>
<style>
  #navbarSupportedContent{
    z-index: 1;
  }
</style>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'welcome' %}"><img src="/static/images/airport.png" style="width:50px;height:40px;"></img>RIOgaleão</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% with url_name=request.resolver_match.url_name %}
        <li class="nav-item {% if url_name == 'passenger_home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'passenger_home' %}"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown {% if 'airport' in url_name %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore Airport
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'airport_food' %}">Dining</a>
            <a class="dropdown-item" href="{% url 'airport_shopping' %}">Shopping</a>
            <a class="dropdown-item" href="{% url 'airport_sight' %}">Sightseeing</a>
            <a class="dropdown-item" href="{% url 'airport_lounge' %}">Relaxation</a>
          </div>
        </li>
        <li class="nav-item dropdown {% if 'rio' in url_name %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore Destination
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'rio_hotels' %}">Hotels</a>
            <a class="dropdown-item" href="{% url 'rio_dining' %}">Dining</a>
          </div>
        </li>
      {% endwith %}
    </ul>
    <div id="google_translate_element" style="float:right; z-index:1;"></div>
  </div>
</nav>
{% endblock %}
