{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
  <script>
    function setGetParameter(value){
      window.location.href = "{% url 'rio_dine_info' %}" + "?restId="+value;
    }

    function loadData(data, images){
      var recommendations = {{ recommendations|safe }};
      var query = window.location.search.substring(1);
      var parms = query.split('&');
      var restId = parms[0].split('=')[1];
      var name = data[restId].Name;
      var table_data = '<table id="myTable" cellpadding="10"">';
      table_data += '<tr>';
      table_data += '<td> <h3>' + name + '</h3><br>';
      table_data += '<b>Address:</b> ' + data[restId].address + '<br><br>';
      if(images[name] && images[name]!="NA"){
        table_data += '<img src=' + images[name] + ' width=100% height=100%><br><br>';
      }else{
        table_data += '<img src=' + images['Adega Santiago Barra - Rio de Janeiro'] + ' width="300px" height="200px"><br><br>';
      }
      if(data[restId].number_of_reviews){
        table_data += '<b>Number of reviews: </b>' + data[restId].number_of_reviews + '<br><br>';
      }
      if(data[restId].rank){
        table_data += '<b>Ranking: </b>' + data[restId].rank + '<br><br>';
      }
      if(data[restId].rating){
        table_data += '<b>Rating:</b> ' + data[restId].rating + '<br><br>';
      }
      if(data[restId].cost){
        table_data += '<b>Price Range:</b> ' + data[restId].cost + '<br><br>';
      }
      if(data[restId].cuisines){
        table_data += '<b>Cuisines:</b> ' + data[restId].cuisines + '<br><br>';
      }
      reviews = data[restId].review;
      reviews = reviews.replace("[","");
      reviews = reviews.replace("]","");
      reviews = reviews.split(",")
      if(reviews.length!=0 && reviews[0] != "''"){
        table_data += '<b>Top Reviews:</b><br><ul>';
        for(k=0; k<reviews.length;k++){
          table_data += '<li>' + reviews[k] + '</li>';
        }
        table_data += '</ul><br><br>';
      }
      if(data[restId].url){
        table_data += '<a href=' + data[restId].url + ' target="_blank">Click here to view this restaurant on TripAdvisor</a><br><br>';
      }
      table_data += '</td></tr>';
      table_data += '</table>';
      $('#target').html(table_data);

      var table_record = '<table id="myTable" cellpadding="10"">';
      for(var i=0; i<Object.keys(data).length; i++){
        for(var j=0; j<recommendations.length; j++){
          if(data[i].Name == recommendations[j]){
            table_record += '<tr>';
            var name = data[i].Name;
            if(images[name] && images[name]!="NA"){
              table_record += '<td> <img src=' + images[name] + ' width="300px" height="200px"> </td>';
            }else{
              table_record += '<td> <img src=' + images['Adega Santiago Barra - Rio de Janeiro'] + ' width="300px" height="200px"> </td>';
            }
            table_record += '<td><h2><a onclick="setGetParameter('+i+')">' + name + '</a></h2><br>';
            table_record += 'Address: ' + data[i].address + '</td></tr>';
          }
        }
      }
      $('#recommendation').html(table_record);

    }

    $(document).ready(function(){
      $.ajax({
       url:"/static/data/restaurants.json",
       dataType:"json",
       success:function(data)
       {
         $.ajax({
         url:"/static/data/restaurants_images.json",
         dataType:"json",
         success:function(images)
         {
           loadData(data,images)
         }
        });
        }
       });
     });
  </script>
  <br>
  <div class="container">
    <hr>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'rio_dining' %}">View All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_bakery' %}">Bakeries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_coffee' %}">Coffee & Tea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_dessert' %}">Dessert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_restaurants' %}">Restaurants</a>
      </li>
    </ul>

    <br>
    <div id="target">
    </div>

    <br><br>
    <h4> Recommended dining options: </h4>
    <div id="recommendation" >


    </div>
  </div>
{% endblock %}
