{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
  <style>
     td {
        text-align:left;
     }
     .show-more {
        display: none;
        cursor: pointer;
      }
  </style>
  <script>
    function setGetParameter(value){
      window.location.href = "{% url 'rio_hotel_info' %}" + "?hotelID="+value;
    }

    function loadData(data, images, i){
      var table_data = '<table id="myTable" cellpadding="10">';
      for(var count = i; count<Object.keys(data).length; count++)
      {
         if((data[count].rank).includes('hotels'))
         {
             var hotel_name = data[count].HotelName;
             table_data += '<tr class="tbl_rows">';
             if(images[hotel_name]){
               table_data += '<td> <img src=' + images[hotel_name] + '/ width="300px" height="200px"> </td>';
             }else{
               table_data += '<td> <img src=' + images['Hilton Barra Rio de Janeiro'] + '/ width="300px" height="200px"> </td>';
             }
             table_data += '<td> <h3> <a onclick="setGetParameter('+count+')">' + hotel_name + '</a></h3><br>';
             table_data += 'Address: ' + data[count].address + '</td>';
             table_data += '</tr>';
         }
      }
      table_data += '</table>';
      $('#hotel_list').html(table_data);
    }
    $(document).ready(function(){
      $.ajax({
       url:"/static/data/Rio_Hotels_Clean.json",
       dataType:"json",
       success:function(data)
       {
         $.ajax({
         url:"/static/data/hotels_images.json",
         dataType:"json",
         success:function(images)
         {
           loadData(data,images,0)
         }
        });
       }
      });
    });

  </script>
  <div class="container">
    <img src="/static/images/hotels_card.jpg" width=100% height=200px style="object-fit: cover"/>
    <hr>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_hotels' %}">View All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'rio_hotel_filter' %}">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_lodge' %}">Specialty Lodging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_hotel_bnb' %}">B&Bs/Inns</a>
      </li>
    </ul>
    <br>
    <input type="text" id="myInput" placeholder="Search for a hotel..">

    <div id="hotel_list">

    </div>



  </div>
{% endblock %}
