{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
<script>
  function setGetParameter(value){
    window.location.href = "{% url 'rio_dine_info' %}" + "?restId="+value;
  }

  function loadData(data, images, i){
    var table_data = '<table id="myTable" cellpadding="10">';
    for(var count = i; count<Object.keys(data).length; count++)
    {
      if((data[count].rank).includes('Restaurants'))
      {
         var name = data[count].Name;
         table_data += '<tr class="tbl_rows">';
         if(images[name] && images[name]!="NA"){
           table_data += '<td> <img src=' + images[name] + ' width="300px" height="200px"/> </td>';
         }else{
           table_data += '<td> <img src=' + images['Coa&Co Cafe'] + ' width="300px" height="200px"/> </td>';
         }
         table_data += '<td> <h3> <a onclick="setGetParameter('+count+')">' + name + '</a></h3><br>';
         table_data += 'Address: ' + data[count].address + '</td>';
         table_data += '</tr>';
      }
    }
    table_data += '</table>';
    $('#dining_list').html(table_data);
  }

  $(document).ready(function(){
    $.ajax({
     url:"/static/data/restaurants.json",
     dataType:"json",
     success:function(data)
     {
       $.ajax({
       url:"/static/data/restaurants_images.json",
       dataType:"json",
       success:function(images)
       {
         loadData(data,images,0)
         console.log("hi")
       }
      });
     }
    });
  });
  </script>

  <div class="container">
    <img src="/static/images/restaurants.jpg" width=100% height=200px style="object-fit: cover"/>
    <hr>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_dining' %}">View All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_bakery' %}">Bakeries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_coffee' %}">Coffee & Tea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_dessert' %}">Dessert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'rio_restaurants' %}">Restaurants</a>
      </li>
    </ul>
    <br>
    <input type="text" id="myInput" placeholder="Search for a restaurant..">

    <div id="dining_list">

    </div>

  </div>


{% endblock %}
