{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
  <script>
    function setGetParameter(value){
      window.location.href = "{% url 'rio_dine_info' %}" + "?restId="+value;
    }

    function loadData(data, images){
      var recommendations = {{ recommendations|safe }};
      var query = window.location.search.substring(1);
      var parms = query.split('&');
      var hotelId = parms[0].split('=')[1];
      var hotel_name = data[hotelId].HotelName
      var table_data = '<table id="myTable" cellpadding="10"">';
      table_data += '<tr>';
      table_data += '<td> <h3>' + hotel_name + '</h3><br>';
      table_data += '<b>Address:</b> ' + data[hotelId].address + '<br><br>';
      if(images[hotel_name]){
        table_data += '<img src=' + images[hotel_name] + ' width=100% height=100%><br><br>';
      }else{
        table_data += '<img src=' + images['Hilton Barra Rio de Janeiro'] + ' width="300px" height="200px"><br><br>';
      }
      if(data[hotelId].number_of_reviews){
        table_data += '<b>Number of reviews: </b>' + data[hotelId].number_of_reviews + '<br><br>';
      }
      if(data[hotelId].rank){
        table_data += '<b>Ranking: </b>' + data[hotelId].rank + '<br><br>';
      }
      if(data[hotelId].rating){
        table_data += '<b>Rating:</b> ' + data[hotelId].rating + '   ' + data[hotelId].rating_description + '<br><br>';
      }
      if(data[hotelId].description && data[hotelId].description[0] != '['){
        table_data += '<b>Description:</b> ' + data[hotelId].description + '<br><br>';
      }
      if((data[hotelId].amenities).length!=0){
        table_data += '<b>Amenities:</b><br><ul>';
        for(k=0; k<(data[hotelId].amenities).length;k++){
          table_data += '<li>' + data[hotelId].amenities[k] + '</li>';
        }
        table_data += '</ul><br><br>';
      }
      if(data[hotelId].url){
        table_data += '<a href=' + data[hotelId].url + ' target="_blank">Click here to book this hotel on TripAdvisor</a><br><br>';
      }
      table_data += '</td></tr>';
      table_data += '</table>';
      $('#hotel_list').html(table_data);

      var table_record = '<table id="myTable" cellpadding="10"">';
      for(var i=0; i<Object.keys(data).length; i++){
        for(var j=0; j<recommendations.length; j++){
          if(data[i].HotelName == recommendations[j]){
            table_record += '<tr>';
            var htlName = data[i].HotelName;
            if(images[htlName]){
              table_record += '<td> <img src=' + images[htlName] + '/ width="300px" height="200px"> </td>';
            }else{
              table_record += '<td> <img src=' + images['Hilton Barra Rio de Janeiro'] + '/ width="300px" height="200px"> </td>';
            }
            table_record += '<td><h2><a onclick="setGetParameter('+i+')">' + data[i].HotelName + '</a></h2><br>';
            table_record += 'Address: ' + data[i].address + '</td></tr>';
          }
        }
      }
      $('#recommendation').html(table_record);

    }

    $(document).ready(function(){
      $.ajax({
       url:"/static/data/Rio_Hotels_Clean.json",
       dataType:"json",
       success:function(data)
       {
         $.ajax({
         url:"/static/data/hotels_images.json",
         dataType:"json",
         success:function(images)
         {
           loadData(data,images)
         }
        });
        }
       });
     });
  </script>
  <br>
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_hotels' %}">View All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_hotel_filter' %}">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_lodge' %}">Specialty Lodging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rio_hotel_bnb' %}">B&Bs/Inns</a>
      </li>
    </ul>
    <br>
    <div id="hotel_list">
    </div>

    <br><br>
    <h4> Recommended hotels: </h4>
    <div id="recommendation" >


    </div>
  </div>
{% endblock %}
