{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br>
<style>
  #icon:hover {
    width: 150px;
    height: 150px;
  }

  @font-face {
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 200;
     src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
   }
   @font-face {
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 300;
     src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
   }

   .wrapper {
     background: #50a3a2;
     background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
     background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     height: 808px;
     margin-top: -408px;
     overflow: hidden;
     z-index: -1;
   }
   .wrapper.form-success .container h1 {
     -webkit-transform: translateY(85px);
             transform: translateY(85px);
   }
   .container {
     max-width: 600px;
     margin: 0 auto;
     padding: 80px 0;
     height: 400px;
     text-align: center;
     margin-top: -130px;
   }
   .container h1 {
     font-size: 40px;
     -webkit-transition-duration: 1s;
             transition-duration: 1s;
     -webkit-transition-timing-function: ease-in-put;
             transition-timing-function: ease-in-put;
     font-weight: 200;
   }
   .bg-bubbles {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
   }
   .bg-bubbles li {
     position: absolute;
     list-style: none;
     display: block;
     width: 40px;
     height: 40px;
     background-color: rgba(255, 255, 255, 0.15);
     bottom: -160px;
     -webkit-animation: square 25s infinite;
     animation: square 25s infinite;
     -webkit-transition-timing-function: linear;
     transition-timing-function: linear;
   }
   .bg-bubbles li:nth-child(1) {
     left: 10%;
   }
   .bg-bubbles li:nth-child(2) {
     left: 20%;
     width: 80px;
     height: 80px;
     -webkit-animation-delay: 2s;
             animation-delay: 2s;
     -webkit-animation-duration: 17s;
             animation-duration: 17s;
   }
   .bg-bubbles li:nth-child(3) {
     left: 25%;
     -webkit-animation-delay: 4s;
             animation-delay: 4s;
   }
   .bg-bubbles li:nth-child(4) {
     left: 40%;
     width: 60px;
     height: 60px;
     -webkit-animation-duration: 22s;
             animation-duration: 22s;
     background-color: rgba(255, 255, 255, 0.25);
   }
   .bg-bubbles li:nth-child(5) {
     left: 70%;
   }
   .bg-bubbles li:nth-child(6) {
     left: 80%;
     width: 120px;
     height: 120px;
     -webkit-animation-delay: 3s;
             animation-delay: 3s;
     background-color: rgba(255, 255, 255, 0.2);
   }
   .bg-bubbles li:nth-child(7) {
     left: 32%;
     width: 160px;
     height: 160px;
     -webkit-animation-delay: 7s;
             animation-delay: 7s;
   }
   .bg-bubbles li:nth-child(8) {
     left: 55%;
     width: 20px;
     height: 20px;
     -webkit-animation-delay: 15s;
             animation-delay: 15s;
     -webkit-animation-duration: 40s;
             animation-duration: 40s;
   }
   .bg-bubbles li:nth-child(9) {
     left: 25%;
     width: 10px;
     height: 10px;
     -webkit-animation-delay: 2s;
             animation-delay: 2s;
     -webkit-animation-duration: 40s;
             animation-duration: 40s;
     background-color: rgba(255, 255, 255, 0.3);
   }
   .bg-bubbles li:nth-child(10) {
     left: 90%;
     width: 160px;
     height: 160px;
     -webkit-animation-delay: 11s;
             animation-delay: 11s;
   }
   @-webkit-keyframes square {
     0% {
       -webkit-transform: translateY(0);
               transform: translateY(0);
     }
     100% {
       -webkit-transform: translateY(-700px) rotate(600deg);
               transform: translateY(-700px) rotate(600deg);
     }
   }
   @keyframes square {
     0% {
       -webkit-transform: translateY(0);
               transform: translateY(0);
     }
     100% {
       -webkit-transform: translateY(-700px) rotate(600deg);
               transform: translateY(-700px) rotate(600deg);
     }
   }

   h3{
     color: black;
   }

</style>
    <div class="container" >
      <h1><b>Welcome to RIOgaleão - Tom Jobim International Airport!</b></h1>
      <hr>
      <h3>Are you a.. <br> </h3>
      <table align="center" cellpadding="30">
        <tr>
          <td>
            <a class="btn btn-large  btn-block" href="{% url 'passenger_home' %}" onclick="{% url 'passenger_home' %}">
            <img id='icon' src="/static/images/passengers.png" width="100" height="100"></img><br>
              <h3>Passenger</h3>
            </a>
          </td>
          <td>
            <a class="btn btn-large btn-block" href="{% url 'login' %}" onclick="{% url 'login' %}">
            <img id='icon' src="/static/images/crew.png" width="100" height="100"></img>
            <br>
            <h3>Airport Staff</h3>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="wrapper">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
   </div>
{% endblock %}
